.container {
    max-width: 1300px;
}

.cover-header {
    display: flex;
    justify-content: space-between;
}

.header-left-home {
    width: 30%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    margin: 20px;
}

.header-right-home {
    width: 67%;
    margin: 20px;
}

.header-right-home img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 12px;
    }

.cover-menu {
    list-style: none;
    padding: 0;
}

.cover-cate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 50px;
    font-size: 16px;
    color: #495057;
    text-decoration: none;
    transition: all 0.2s ease;
    border-bottom: 1px solid #f1f3f5;
    cursor: pointer;
    position: relative;
    color: #333;
}

.cover-cate:hover {
    background: #f8f9fa;
    color: #f37021;
 }

.arrow {
    font-size: 1.1rem;
    color: #adb5bd;
    transition: transform 0.2s;
}

.cover-cate:hover .arrow {
    transform: translateX(4px);
    color: #f37021;
}

.cover-cate:hover > a {
    color: #f37021;
}

.cover-cate:hover .submenu {
    display: block;
    color: #333;
}


.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 800px;
    min-height: 100%;
    background: white;
    border-radius: 0 8px 8px 8px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.1);
    padding: 25px;
    margin-left: 5px;
    z-index: 100;
}

.submenu::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: transparent;
}

.cover-cate:hover .submenu {
    display: block;
    animation: fadeIn 0.2s ease-in-out;
}

.submenu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.submenu-header h3 {
    font-size: 16px;
    color: #333;
}

.submenu-header a {
    font-size: 13px;
    color: #007bff;
 }


.hover {
    column-width: 200px;
    column-gap: 30px;
    width: 100%;
    list-style: none;
}

.hover li {
    break-inside: avoid;
    margin-bottom: 12px;
 }

 .hover li a {
    font-size: 14px;
    color: #555;
    display: block;
    transition: transform 0.2s, color 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover li a:hover {
    color: #F39C12; 
    transform: translateX(5px); 
}


@keyframes fadeIn {
from {
    opacity: 0;
    transform: translateY(5px);
    }
to {
    opacity: 1;
    transform: translateY(0);
    }
}
